.images {
	text-align: center;
}
.kvadrat {
	width: 150px;
	height: 150px;
	background-color:red ;
	 position: absolute;
}
.krug {
	width: 150px;
	height: 150px;
	background-color:green ;
	 position: absolute;
	 border-radius: 50%;
	 left: 200px;
}
.kvaadrat {
	width: 250px;
	height: 150px;
	background-color:orange ;
	 position: absolute;
	 left: 380px;
}
.trg {
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 130px solid blue;
	left: 700px;
	 position: absolute;


}
.cnt {
	margin-top: 60px;
	margin-left: 20px;

}